* {
  transition: all .3s ease-in-out;
}
/* body */
body {
  background-color: #F5F3EE;
  padding: ;
}
/* container */
#main-container {
  padding: 0 50px;
}

.row {
  margin: 0;
}

/*col*/
.col-lg-4 {
  padding: 0 10px;
  margin-bottom: 10px;
}

/* header */
header {

}

header ul {
list-style: none;
margin: 0;
padding: 0;
height: 70px;
}

header nav {
  padding: 0 10px;
  height: 20px;
  background-color: #7D1935;
  font-size: 12px;
  color: white;
}

header nav li {
  display: inline-block;
}

.fork {
  float: left;
}

.howTo {
  float: right;
}

.howTo a {
  color: white;
}

.logo {
  position: relative;
  padding: 10px 0;
}

header h1 {
  text-align: center;
  margin: 0;
  line-height: 70px;
  font-family: 'Damion', cursive;
  color: #7D1935;
}

header h2 {
  display: inline-block;
  position: absolute;
  top: 0;
  margin: 0;
  font-size: 35px;
  line-height: 70px;
  font-family: 'Damion', cursive;
  color: #4A96AD;
  transform: rotate(32deg);
}

.toUp {
  text-transform: uppercase;
}

/*description*/
.description {
  color: #6A3775;
  padding: 20px 0 0 0;
  display: none;
}
.description hr {
  display: none;
  width: 100%;
  border: 0;
  height: 1px;
  background: #FFFFAA;
  background-image: linear-gradient(to right, #FF6EA9, #FFFFAA, #FF6EA9);
}

.description p {
  padding: 20px 0;
  margin: 0;
}

/* botones */
.row.buttons {
  padding: 40px 0;
}

.row.buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.row.buttons ul li {
  color: #4A96AD; /*#FFCCBB;*/
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 10px;
  border: 2px solid #4A96AD;
  box-shadow: 0px 3px 12px 0px #E1DBD0;
}

.row.buttons ul li.active {
  background-color: #4A96AD;
  color: white;
  bottom: 0;
}

.row.buttons ul li:hover {
  cursor: pointer;
  border: 2px solid #4A96AD;/*#2A6D81;*/
  position: relative;
  background-color: #4A96AD;
  color: white;
  bottom: 1px;
  box-shadow: 0px 5px 12px 0px #E1DBD0;
}
/*imágenes*/
section {
  padding: 40px 120px;
}

figure {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

img {
  object-fit: cover;
  cursor: pointer;
}

/* paleta de colores
 * rosa opaco #DE5285
 * rosa mora #6B003A
 * fucsia #F01D7A
 * rosa #FF6EA9
 * amarillo #FFFFAA
 * rosa pastel #FFCCBB
 * strong yellow #F7F779
 * rosa mora opaco #6A3775
 * rasperry #6B003A

 -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
 */

 /*scrollbar*/

::-webkit-scrollbar-track {
  border-left: 1px solid #7D1935;
  border-right: 1px solid #7D1935;
  background-color: #F5F3EE;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F3EE;
}

::-webkit-scrollbar-thumb {
  background-color: #7D1935;
}

.hidden {
  display: none;
}