* {
  transition: all .3s ease-in-out;
}
/* body */
body {
  background-color: #F5F3EE;
  padding: ;
}
/* container */
#main-container {
  padding: 0 50px;
}

.row {
  margin: 0;
}

/*col*/
.col-lg-4 {
  padding: 0 10px;
  margin-bottom: 10px;
}

/* header */
header ul {
list-style: none;
margin: 0;
padding: 0;
height: 70px;
}

header nav {
  padding: 0 20px;
  height: 20px;
  background-color: #7D1935;
  font-size: 12px;
  color: white;
}

header nav li {
  display: inline-block;
}

.library {
  float: left;
}

.howTo {
  float: right;
}

.howTo a {
  color: white;
  text-decoration: underline;
}

.howTo a:hover {
  text-decoration: none;
}

.toUp {
  text-transform: uppercase;
}

/* logo */
.logo {
  position: relative;
  padding: 25px 0 10px 0;
  text-align: center;
}

.logo-img {
  width: 240px;
  height: auto;
}

.logo-img:hover {
  opacity: .7;
}

/* botones */
.row.buttons {
  padding: 40px 0;
}

.row.buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.row.buttons ul li {
  color: #4A96AD;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 10px;
  border: 2px solid #4A96AD;
  box-shadow: 0px 3px 12px 0px #E1DBD0;
}

.row.buttons ul li.active {
  background-color: #4A96AD;
  color: white;
  bottom: 0;
}

.row.buttons ul li:hover {
  cursor: pointer;
  border: 2px solid #4A96AD;
  position: relative;
  background-color: #4A96AD;
  color: white;
  bottom: 1px;
  box-shadow: 0px 5px 12px 0px #E1DBD0;
}
/*imágenes*/
section {
  padding: 40px 120px;
}

img {
  object-fit: cover;
  cursor: pointer;
}

/*scrollbar*/
::-webkit-scrollbar-track {
  border-left: 1px solid #7D1935;
  border-right: 1px solid #7D1935;
  background-color: #F5F3EE;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F3EE;
}

::-webkit-scrollbar-thumb {
  background-color: #7D1935;
}